.circular-progress-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    left: 120px;
    margin: 0.25rem auto;
    height: 7em;
    width: 7em;
    border-radius: 50%;
    z-index: 15;
    background-color: white;
    overflow: hidden;
}

.circular-progress-bar {
    background-color: #006747;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 100%;
    position: absolute;
    transition-property: width;
    transition-duration: 1s;
    z-index: 4;
}

.circular-progress-value {
    color: #006747;
    padding: 25%;
    vertical-align: middle;
    font-weight: bold;
    z-index: 10;
    visibility: visible;
    user-select: none;
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-shadow: 0 0 2px #006747;
    border-radius: 50%;
    margin: auto;
    background-color: white;
    border-width: 2px;
    border-color: #006747;
    border: solid;
}

.circular-progress-text {
    z-index: 100;
    font-size: 1em;
    height: 0px;
    width: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}